.center{
    text-align: center;
    align-items: center;
    align-content: center;
    -moz-box-align: center;
}
.imglogo{
    height: 55px;
    width: auto;
}
.corAzul{
    background-color: #0CA4A5;
}
.verde{
    background-color: #33CA7F;
}